# Measuring uptake of inhaled budesonide prescription guidance following COVID-19 infection

## Setup, data loading and prepreprocessing

In [1]:
import pandas as pd

In [31]:
## low count suppression function
def suppress(df_to_suppress,columns,n=10):
    for c in columns:
        if not c in df_to_suppress.columns:
            raise ValueError(f'column {c} not in dataframe')

    df = df_to_suppress
    for c in df.columns[df.columns.isin(columns)]:
        df[f'{c}'] = df[f'{c}'].astype(str)
        df[f'{c}'] = df[f'{c}'].apply(lambda x: '<10' if (float(x)>0 and float(x)<n ) else x)
    return df

Import output from cohort extractor with following exclusions already applied:

```
NOT has_died
AND registered
AND
(age_band = "65_plus" OR (age_band = "50_65" AND (primis_shield OR primis_nonshield))) 
AND
(sex = "M" OR sex = "F")
AND NOT covid_admission
AND NOT covid_emergency_admission
AND NOT has_previous_steroid_prescription
AND NOT primary_covid_hospital_admission
AND first_positive_test_type != "LFT_Only"
```

Expected row count is c.8000 (as of 2021-07-30)

In [3]:
df = pd.read_csv('../output/input.csv')

In [ ]:
print(f'Total input row count: {len(df.index)}')

In [ ]:
print(f'Most recent positive test date: {pd.to_datetime(df.first_positive_test_date).max()}')

Apply labels for three cohorts based on age at time of positive COVID-19 test and PRIMIS sheilding flags (estimated expected proportion):
* over 65s (85%)
* over 50s (15%)
  - with shielding flag (5%)
  - with non-shielding flag (10%)

In [6]:
df['cohort'] = df.apply(lambda x: x.age_band if x.age_band == '65_plus' else str(x.age_band) + ('H' if x.primis_shield==1 else 'L'),axis=1)
df_cohort_counts = df.groupby('cohort').count()['patient_id'].reset_index().rename(columns={'patient_id':'Patient count',"cohort":"Cohort"})
suppressed_df_cohort_counts = suppress(df_cohort_counts,['Patient count'])
suppressed_df_cohort_counts.style.hide_index()

## COVID-19 Test Types

Only patients with "PCR_Only" (expected ~82%) and "LFT_WithPCR" (18%) positive COVID-19 test results included

In [7]:
df_test_counts = df.groupby('first_positive_test_type').count()['patient_id'].reset_index().rename(columns={'patient_id':'Patient count',"first_positive_test_type":"Type of first recorded positive test"})
supressed_test_type_counts = suppress(df_test_counts,['Patient count'])
supressed_test_type_counts.style.hide_index()

## Budesonide prescriptions by cohort

In [5]:
supressed_bd_prescriptions_all = suppress(df.groupby('budesonide_prescription').count()['patient_id'].reset_index().rename(columns={"budesonide_prescription":"Count of budesonide prescriptions","patient_id":"Count of patients"}),["Count of patients"])
supressed_bd_prescriptions_all['cohort'] = 'All'

supressed_bd_prescriptions_by_cohort = suppress(df.groupby(['cohort','budesonide_prescription']).count()['patient_id'].reset_index().rename(columns={"budesonide_prescription":"Count of budesonide prescriptions","patient_id":"Count of patients"}),['Count of patients'])
supressed_bd_prescriptions_by_cohort = pd.concat([supressed_bd_prescriptions_all,supressed_bd_prescriptions_by_cohort],ignore_index=True)
supressed_bd_prescriptions_by_cohort.style.hide_index()

KeyError: 'cohort'

## Budesonide prescriptions by region

In [ ]:
supressed_bd_prescriptions_by_region = suppress(df.groupby(['region','budesonide_prescription']).count()['patient_id'].reset_index().rename(columns={"budesonide_prescription":"Count of budesonide prescriptions","patient_id":"Count of patients"}),['Count of patients'])
supressed_bd_prescriptions_by_region = pd.concat([supressed_bd_prescriptions_all.rename(columns={'cohort':'region'}),supressed_bd_prescriptions_by_region],ignore_index=True)
supressed_bd_prescriptions_by_region.style.hide_index()

## Budesonide prescriptions by practice

In [34]:
supressed_bd_prescriptions_by_practice_id = suppress(df.groupby(['practice_id','budesonide_prescription']).count()['patient_id'].reset_index().rename(columns={"budesonide_prescription":"Count of budesonide prescriptions","patient_id":"Count of patients"}),['Count of patients'])
supressed_bd_prescriptions_by_practice_id = pd.concat([supressed_bd_prescriptions_all.rename(columns={'cohort':'practice_id'}),supressed_bd_prescriptions_by_practice_id],ignore_index=True)
supressed_bd_prescriptions_by_practice_id.style.hide_index()

## Budesonide prescriptions by region, by practice

In [33]:
pd.set_option('display.max_rows', None)
region_practice_pivot = pd.pivot_table(df,index=['region','practice_id'],columns=['budesonide_prescription'],values='patient_id',aggfunc='count').rename(columns={"budesonide_prescription":"Count of budesonide prescriptions","patient_id":"Count of patients"})
region_practice_pivot.rename(columns=lambda x: str(x),inplace=True)
display(suppress(region_practice_pivot,list(region_practice_pivot.columns)))

budesonide_prescription                -2   -1     0    1    2    3
region                   practice_id
East Midlands            15           nan  nan   <10  <10  nan  nan
                         16           nan  nan   <10  <10  nan  nan
                         17           nan  nan   <10  <10  nan  nan
                         18           nan  nan   <10  nan  <10  nan
                         19           nan  nan   <10  <10  nan  nan
                         20           nan  nan   <10  <10  <10  nan
                         21           nan  nan   <10  <10  nan  nan
                         22           nan  nan   <10  nan  nan  nan
                         23           nan  nan  10.0  <10  nan  nan
                         24           nan  <10   <10  <10  <10  nan
                         25           <10  nan   <10  <10  nan  nan
                         26           nan  nan   <10  <10  <10  nan
                         27           nan  nan   <10  <10  nan  nan
                         28           nan  nan   <10  <10  <10  nan
                         29           nan  <10   <10  <10  <10  nan
                         30           nan  nan   <10  nan  nan  nan
                         31           nan  nan   <10  nan  nan  nan
                         32           nan  nan   <10  nan  nan  nan
                         33           nan  nan   <10  <10  <10  nan
                         34           nan  nan   <10  nan  nan  nan
                         35           nan  nan   <10  nan  nan  nan
East of England          15           nan  nan   <10  nan  nan  nan
                         16           nan  nan   <10  nan  nan  nan
                         17           nan  nan   <10  nan  nan  nan
                         18           nan  nan   <10  nan  nan  nan
                         19           nan  nan   <10  nan  nan  nan
                         20           nan  nan   nan  nan  <10  nan
                         21           nan  nan   <10  <10  nan  nan
                         22           nan  nan   <10  <10  nan  nan
                         23           nan  nan   <10  nan  nan  nan
                         24           nan  nan   <10  <10  <10  nan
                         25           nan  nan   <10  <10  <10  nan
                         26           nan  nan   <10  nan  <10  nan
                         27           nan  nan   <10  <10  nan  nan
                         28           nan  nan   <10  <10  nan  nan
                         29           nan  nan   <10  nan  nan  nan
                         30           nan  nan   <10  nan  nan  nan
                         31           nan  nan   <10  <10  nan  nan
                         32           nan  nan   <10  nan  nan  nan
                         33           nan  nan   nan  <10  nan  nan
                         35           nan  nan   <10  nan  nan  nan
London                   13           nan  <10   <10  nan  nan  nan
                         14           nan  <10   nan  <10  nan  nan
                         15           nan  nan   <10  <10  <10  nan
                         16           nan  nan   <10  <10  nan  nan
                         17           nan  nan   <10  <10  nan  nan
                         18           nan  <10   <10  nan  <10  nan
                         19           nan  nan   <10  nan  <10  nan
                         20           nan  nan   <10  <10  nan  nan
                         21           nan  nan  10.0  <10  nan  nan
                         22           nan  nan  10.0  <10  <10  nan
                         23           nan  nan  19.0  <10  nan  <10
                         24           nan  nan  16.0  <10  <10  nan
                         25           nan  nan  10.0  nan  <10  nan
                         26           nan  nan  14.0  <10  nan  nan
                         27           nan  <10   <10  <10  <10  nan
                         28           nan  nan   <10  <10  <10  nan
                         29           nan  nan   <10  <10  nan  nan
                         30           nan  nan   <10  <10  <10  nan
                         31           nan  nan  11.0  <10  nan  nan
                         32           nan  nan   <10  <10  nan  nan
                         33           nan  nan   <10  nan  nan  nan
                         34           nan  nan   <10  nan  <10  nan
                         37           nan  nan   <10  nan  nan  nan
North East               11           nan  nan   <10  nan  nan  nan
                         12           nan  nan   <10  nan  nan  nan
                         13           nan  nan   <10  nan  nan  nan
                         14           nan  nan   <10  nan  nan  nan
                         16           nan  nan   <10  nan  nan  nan
                         17           nan  nan   <10  nan  nan  nan
                         18           nan  nan   <10  <10  nan  nan
                         19           nan  nan   <10  nan  nan  nan
                         20           nan  nan   <10  <10  nan  nan
                         21           nan  <10   <10  <10  nan  nan
                         22           nan  nan   <10  <10  nan  nan
                         23           nan  nan   <10  nan  nan  nan
                         24           nan  nan   <10  <10  <10  nan
                         25           nan  nan   <10  nan  nan  <10
                         26           nan  nan   <10  nan  nan  nan
                         27           nan  nan   <10  <10  nan  nan
                         28           nan  <10   <10  <10  nan  nan
                         29           nan  nan   <10  <10  nan  nan
                         30           nan  nan   <10  nan  nan  nan
                         31           nan  nan   <10  <10  nan  nan
                         32           nan  nan   <10  <10  nan  nan
                         34           nan  nan   <10  <10  nan  nan
                         36           nan  nan   <10  nan  nan  nan
                         37           nan  nan   <10  nan  nan  nan
                         38           nan  nan   nan  nan  <10  nan
North West               13           nan  nan   <10  nan  nan  nan
                         14           nan  nan   <10  <10  nan  nan
                         15           nan  nan   <10  <10  nan  nan
                         16           nan  nan   <10  <10  nan  nan
                         17           nan  nan   <10  <10  nan  nan
                         18           nan  nan   <10  <10  nan  nan
                         19           nan  nan   <10  nan  nan  nan
                         20           nan  nan   <10  nan  <10  nan
                         21           nan  nan   <10  <10  nan  <10
                         22           nan  nan   <10  nan  nan  nan
                         23           nan  <10  10.0  <10  <10  nan
                         24           nan  nan   <10  nan  <10  nan
                         25           nan  nan   <10  nan  <10  nan
                         26           nan  nan   <10  nan  nan  nan
                         27           nan  nan   <10  nan  <10  nan
                         28           nan  nan   <10  nan  <10  nan
                         29           nan  nan   <10  <10  nan  nan
                         30           nan  nan   <10  nan  nan  nan
                         32           nan  nan   <10  nan  nan  nan
                         34           nan  nan   <10  <10  nan  nan
South East               6            nan  nan   nan  <10  nan  nan
                         9            nan  nan   nan  <10  nan  nan
                         12           nan  nan   <10  nan  nan  nan
                         14           nan  nan   <10  <10  nan  nan
                         15           nan  nan   <10  nan  nan  nan
                         16           nan  nan   nan  nan  <10  nan
                         17           nan  nan   <10  nan  nan  nan
                         18           nan  nan   <10  <10  nan  nan
                         19           nan  nan   <10  <10  nan  nan
                         20           nan  nan  12.0  <10  nan  nan
                         21           nan  nan  13.0  <10  <10  <10
                         22           nan  nan  17.0  nan  <10  nan
                         23           nan  nan  14.0  <10  <10  nan
                         24           nan  <10  11.0  <10  <10  <10
                         25           nan  nan   <10  <10  <10  nan
                         26           nan  nan  11.0  <10  nan  nan
                         27           nan  nan   <10  <10  <10  nan
                         28           nan  <10   <10  nan  nan  nan
                         29           nan  nan   <10  <10  nan  nan
                         30           nan  nan   <10  <10  <10  nan
                         31           nan  nan  11.0  <10  nan  nan
                         32           nan  nan   <10  <10  nan  nan
                         33           nan  nan   <10  nan  nan  nan
                         34           nan  nan   <10  nan  nan  nan
                         35           nan  nan   <10  <10  <10  nan
                         36           nan  nan   nan  nan  <10  nan
                         37           nan  nan   <10  nan  nan  nan
                         41           nan  nan   nan  <10  nan  nan
                         42           nan  nan   <10  nan  nan  nan
West Midlands            11           nan  nan   <10  nan  nan  nan
                         15           nan  nan   <10  nan  nan  nan
                         16           nan  nan   <10  nan  nan  nan
                         17           nan  nan   <10  nan  nan  nan
                         18           nan  nan   <10  <10  nan  nan
                         19           nan  nan   <10  nan  <10  nan
                         20           nan  nan   <10  nan  nan  nan
                         21           nan  nan   <10  nan  nan  nan
                         22           nan  nan   <10  <10  <10  nan
                         23           nan  nan   <10  <10  <10  nan
                         24           nan  nan   <10  <10  nan  nan
                         25           nan  nan  10.0  <10  <10  nan
                         26           nan  nan   <10  nan  nan  <10
                         27           nan  nan  10.0  nan  nan  nan
                         28           nan  nan   <10  nan  nan  nan
                         29           nan  nan   <10  <10  <10  nan
                         30           nan  nan   <10  <10  nan  nan
                         31           nan  nan   <10  nan  nan  nan
                         32           nan  nan   nan  <10  nan  nan
                         33           nan  nan   <10  nan  nan  nan
                         35           nan  nan   <10  nan  nan  nan
Yorkshire and the Humber 12           nan  nan   <10  nan  nan  nan
                         13           nan  nan   <10  nan  nan  nan
                         15           nan  nan   <10  nan  nan  nan
                         16           nan  nan   <10  nan  nan  nan
                         17           nan  nan   nan  nan  <10  nan
                         18           nan  nan   <10  nan  <10  nan
                         19           nan  nan   <10  <10  nan  nan
                         20           nan  nan   <10  nan  nan  nan
                         21           nan  nan   <10  <10  <10  nan
                         22           nan  nan   <10  <10  <10  nan
                         23           nan  nan   <10  <10  nan  nan
                         24           nan  nan   <10  <10  <10  nan
                         25           nan  nan   <10  <10  nan  nan
                         26           nan  nan   <10  nan  nan  nan
                         27           nan  nan   <10  <10  nan  nan
                         28           nan  nan   <10  nan  nan  nan
                         29           nan  nan   <10  <10  <10  nan
                         30           nan  nan   <10  <10  nan  nan
                         31           nan  nan   <10  nan  nan  nan
                         32           nan  nan   nan  <10  nan  nan
                         33           nan  nan   <10  <10  nan  nan
                         34           nan  nan   <10  <10  nan  nan
                         35           nan  nan   nan  nan  <10  nan
                         37           nan  nan   <10  <10  nan  nan
                         39           nan  nan   nan  <10  nan  nan