In [ ]:
import pandas as pd

In [ ]:
case_data_url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=nation&areaCode=E92000001&metric=newCasesBySpecimenDateAgeDemographics&format=csv'
index_date = "2021-03-29"

In [ ]:
df_case_by_age = pd.read_csv(case_data_url)

In [ ]:
#create same age bands as study def
df_case_by_age['age_band'] = df_case_by_age.apply(lambda x: '65_plus' if x.age[:1] in ['7','8','9'] or x.age[:2] =='65' else '55_65' if x.age[:2] in ['55','60','65'] else x.age if x.age == 'unassigned' else 'lt_55'  ,axis=1)

In [ ]:
#convert dates to datetime
df_case_by_age.date= pd.to_datetime(df_case_by_age.date)

In [ ]:
#filter to study date range
df_case_by_age = df_case_by_age[df_case_by_age.date >= index_date]

In [ ]:
df_case_by_age['month'] = df_case_by_age.date.dt.strftime('%Y-%m')

In [51]:
display(pd.pivot_table(df_case_by_age,index='month',columns=['age_band'],values='cases',aggfunc='sum',margins=True))

age_band   55_65  65_plus    lt_55  unassigned      All
month
2021-03     1500      518    16474          49    18541
2021-04     9996     3530   105098         268   118892
2021-05     7851     2425   113324          73   123673
2021-06    25402     7513   560467         201   593583
2021-07    99799    31427  1607530         446  1739202
All       144548    45413  2402893        1037  2593891