In [1]:
import pandas as pd

In [2]:
case_data_url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=nation&areaCode=E92000001&metric=newCasesBySpecimenDateAgeDemographics&format=csv'
index_date = "2021-03-29"

In [3]:
df_case_by_age = pd.read_csv(case_data_url)

In [4]:
#create same age bands as study def
df_case_by_age['age_band'] = df_case_by_age.apply(lambda x: '65_plus' if x.age[:1] in ['7','8','9'] or x.age[:2] =='65' else '50_64' if x.age[:2] in ['50','55','60'] else x.age if x.age == 'unassigned' else 'lt_50'  ,axis=1)

In [5]:
#convert dates to datetime
df_case_by_age.date= pd.to_datetime(df_case_by_age.date)

In [6]:
#filter to study date range
df_case_by_age = df_case_by_age[df_case_by_age.date >= index_date]

In [7]:
df_case_by_age['month'] = df_case_by_age.date.dt.strftime('%Y-%m')

In [8]:
display(pd.pivot_table(df_case_by_age,index='month',columns=['age_band'],values='cases',aggfunc='sum',margins=True))

age_band   50_65  65_plus    lt_50  unassigned      All
month
2021-03     2129      518    15843          49    18539
2021-04    13483     3527   101616         266   118892
2021-05    10943     2427   110226          73   123669
2021-06    37171     7517   548744         200   593632
2021-07   151616    34568  1681964         477  1868625
2021-08    34071     8860   295377          61   338369
All       249413    57417  2753770        1126  3061726